@model IEnumerable<DreamTeamBlogZ.Models.Database.Post>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Inlägg (@ViewBag.TotalPostsCount)</h2>
<br />

@if (Model != null)
{
    <table class="table">
        <tr>
            <th style="width:175px">
                Namn på bloggen
            </th>
            <th style="width:225px">
                Namn på inlägget
            </th>
            <th>
                Text
            </th>
            <th style="width:125px">
                Inlägget skapat
            </th>
            <th>
                Visningar
            </th>
            @*<th></th>*@
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        string temp1 = "../../Blog/ShowBlog/";
                        string temp2 = item.Blog.Id.ToString();
                        string temp12 = temp1 + temp2;
                    }
                    <a href="@temp12">@Html.DisplayFor(modelItem => item.Blog.Title)</a>
                    @*@Html.DisplayFor(modelItem => item.Blog.Title)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Created)*@
                    @Convert.ToDateTime(item.Created).ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>*@
            </tr>
        }
    </table>
}
else
{
    <h2>Det finns inga inlägg registrerade!</h2>
}
<br />
<br />